
 <!-- <ul>
    <%# loaClass.forEach(element => { %>
        <li><%#- element %></li>
    <%# }); %>
 </ul> -->

 <form action="" method="POST">
    <label for="characterName">Character Name</label>
    <input type="text" name="characterName" id="characterName" placeholder="Character Name">

    <label for="Class">Class</label>
    <select name="selectedOptions" id="dropdown">
        <% loaClass.forEach(element => { %>
            <option value="<%- element %>"><%- element %></option>
        <% }); %>
    </select>

    <label for="itemLevel">Item Level</label>
    <input type="text" name="itermLevel" id="itemLevel" placeholder="Item Level">

    <button type="submit"></button>
 </form>