<div>
    <div>
        <form action="/dashboard/createRoster" method="POST">
            <h1>Add a Roster</h1>

            <button type="submit" id="roster"><h2>Main</h2></button>

            <button type="submit" id="roster"><h2>Alt</h2></button>
        </form>
    </div>
</div>