<div>
    <div>

        <h1>Add a Roster</h1>

        <form action="/dashboard/createMainRoster" method="POST">
            <button type="submit" id="mainRoster"><h2>Main</h2></button>
        </form>

        <form action="/dashboard/createAltRoster" method="POST">
            <button type="submit" id="altRoster"><h2>Alt</h2></button>
        </form>
    </div>
</div>