.body{
    margin: 0;
    background-color: rgb(26, 26, 26);
}

.main-container{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    margin: 0;
    font-family: 'Sofia Sans Condensed', Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.dashboard{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
    width: 16.8%;
}

.roster-info{
    font-size: 2em;
}

.ros{
    margin: 0;
}

.raid-title{
    display: flex;
    justify-content: center;
    position: relative;
}

.raidList{
    display: flex;
    flex-direction: column;
    width: 100%;    
}

.raid-card{
    width: 100%;
    text-align: center;
    position: relative;
}

.raid-info{
    display: none;
    flex-direction: column;
    height: 13rem;
}

.show{
    display: flex !important;
}  

.hm, .nm{
    display: flex;
    flex-direction: column;
}

.difficulty{
    margin: auto;
    width: 50%;
}

.flex-row{
    display: flex;
    justify-content: space-evenly;
}

/* Legion Raids */

#valtan{
    background-image: url(/images/ValtanEdit.webp);
}

#vykas{
    background-image: url(/images/VykasEdit.webp);
}

#kakulSaydon{
    background-image: url(/images/ClownEdit.webp);
}

#brelshaza{
    background-image: url(/images/BrelshazaEdit.webp);
}

#akkan{
    background-image: url(/images/AkkanEdit.webp);
}

#kayangel{
    background-image: url(/images/Kayangel.webp);
}

.card{
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

/* Legion Raid Gates */
.gate1, .gate2, .gate3, .gate4{
    width: 30%;
    font-size: 1.5em;
}

.hm > h2{
    width: 30%;
}

.nm > h2{
    width: 30%;
}

/* Stylize */

.more{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.more:hover{
    color: rgb(52, 52, 52);
}

.row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.row > p{
    margin: 0;
}

/* Modal */

.modal{
    display: none;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.modal-container{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
}

.modal-form{
    text-align: left;
}

/* Total Gold Container */
.total-gold{
    width: 100%;
    height: 4rem;
    background-color: rgb(15, 15, 15);
    position: absolute;
    bottom: 0;
}