.body{
    margin: 0
}

.main-container{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
}

.dashboard{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.container{
    display: flex;
}

.roster-info{
    height: 12rem;
    width: 11rem;
}

.raid{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.raid-card{
    width: 100%;
    text-align: center;
}

.raid-info{
    display: flex;
    justify-content: space-evenly;
}

/* Legion Raids */

#valtan{
    background-image: url(/images/Valtan_Card_Portrait.webp);
}

#vykas{
    background-image: url(/images/Vykas_Card_Portrait.webp);
}

#kakulSaydon{
    background-image: url(/images/Kakul-Saydon_Card_Portrait.webp);
}

#brelshaza{
    background-image: url(/images/Brelshaza_Card_Portrait.webp);
}

#akkan{
    background-image: url(/images/Akkan_Card_Portrait.webp);
}

#kayangel{
    background-image: url(/images/kyangel.webp);
}

.card{
    background-size: cover;
    background-position: 50% 35%;
    overflow: hidden;
    height: 100%;
    border-radius: 5px;
}
